/Card.class
/CardEffect.class
/CardPOJO.class
/Cemitery.class
/Deck.class
/DigimonCard.class
/Effect.class
/Jogada.class
/Level.class
/OptionCard.class
/Phase.class
/Player.class
/PlayerMovePOJO.class
/Specialty.class
/Table.class
/Main.class
